<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>cv html</title>
</head>

<body>
    <section id="titre">
        <section class="el">
            <h1>Patrice lepic - Développeur Web</h1>
        </section>
        <section class="el">
            <img src="../static/photocv_mini25.jpg">
        </section>
        <section class="el">
            <h2><a href="#">Mes réalisations :</a></h2>
            <br>
            <br>
            <h2><a href="https://passeralinux.herokuapp.com">https://passeralinux.herokuapp.com</a></h2>
            <br>
            <br>
            <h2><a href="https://moncvonline.herokuapp.com">https://moncvonline.herokuapp.com</a></h2>
        </section>

    </section>
    <br>
    <br>
    <hr>
    <br><br>
    <section id="conteneur">
        <section class="element">
            <h2>Expériences Professionnelles</h2>
            <br>
            <br>
            <br>
            <br>

            <ul>
                <li>
                    <h3>Technicien support IT - Bibliothèques Sans Frontières - Mars 2015 à Mars 2017</h3>
                </li>
                <br>
                <br>
                <li>
                    <h3>Technicien support IT - Samsung Electronics France - Octobre 2020 à Mai 2021</h3>
                </li>

            </ul>

        </section>
        <section class="element">
            <h2>Compétences</h2>
            <br>
            <br>
            <br>
            <br>

            <ul>
                <li>
                    <h3>OS : Linux et Windows</h3>
                </li>
                <br>
                <br>
                <li>
                    <h3>Langages : HTML5 & CSS3 - Javascript - Python - PHP</h3>
                </li>
                <br>
                <br>
                <li>
                    <h3>Frameworks : FLASK, SYMFONY</h3>
                </li>

            </ul>

        </section>
        <section class="element">
            <h2>Formation</h2>
            <br>
            <br>
            <br>
            <br>

            <ul>
                <li>
                    <h3>2014 : Ingénieur d'Application - Université de Velizy (78)</h3>
                </li>
                <br>
                <br>
                <li>
                    <h3>2018 : Ecole 42 - Paris 17</h3>
                </li>
                <br>
                <br>
                <li>
                    <h3>2019 : Openclassrooms - Cursus Python - online</h3>
                </li>
                <br>
                <br>
                <li>
                    <h3>2021 : Doranco - Développeur Web - online</h3>
                </li>

            </ul>
            <br>
            <br>

        </section>
    </section>
</body>

</html>